	<div class="header-custom">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6 col-md-6">
					<div class="title">
						<h3 style="font-family: cursive;">Siva Traders</h3>
					</div>	
				</div>
				<div class="col-xs-6 col-md-6">
					<div class="pull-right login">
							<i class="material-icons">shopping_cart</i>
					</div>
				</div>	
			</div>
		</div>
	</div>

	<div class="sub-header">
		<div class="container-fluid">
			<div class="col-xs-6 col-md-6">
				<div class="sub-title-head">
					service is our motto
				</div>
			</div>
			<div class="col-xs-6 col-md-6">
				<div class="sub-title  pull-right">
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</div>
				<div class="sub-title  pull-right">
					<i class="fa fa-twitter-square" aria-hidden="true"></i>
				</div>
				<div class="sub-title  pull-right">
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</div>