.header-custom {
	width: 100%;
	height: 65px;
	background-color: var(--main-theme-color);
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    z-index: 2;
}
.title{
	padding: 5px;
	color: #fff;
	/*cursor: pointer;*/
}
.sub-header{
	background-color: var(--main-theme-color);
	width: 100%;
	height: 90px;    
	margin-top: 60px;
}
.sub-title-head{
	padding: 16px;
    font-size: 18px;
    color: #fff;
    margin-top: 17px;
    font-family: cursive;
}
.sub-title {
	margin-right: 10px;
    padding: 6px;
    font-size: 18px;
    width: 36px;
    height: 36px;
    border: 1px solid #ff6700;
    border-radius: 8px;
    text-align: center;
    margin-top: 25px;
    color: #fff;
}
.sub-title:hover{
	background-color:  #ff6700;
	color: #fff;
	cursor: pointer;
}
.login{
	margin-right: 10px;
    padding: 6px;
    font-size: 18px;
    width: 36px;
    height: 36px;
    border: 1px solid #ff6700;
    border-radius: 8px;
    text-align: center;
    margin-top: 14px;
    color: #fff;
}
.login:hover{
	background-color:  #ff6700;
	color: #fff;
	cursor: pointer;
}
